In [6]:
import pandas as pd
from surprise import Reader, Dataset, SVD

In [7]:
reader = Reader()
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [8]:
len(ratings)

26024289